// SPDX-FileCopyrightText: 2026 BrokenShine <xchai404@gmail.com>
//
// SPDX-License-Identifier: MIT

include "settings/key-bindings.kdl"
include "settings/window-rules.kdl"

include optional=true "settings/key-bindings-wm.kdl"
include optional=true "settings/special.kdl"
include optional=true "noctalia.kdl"

spawn-sh-at-startup "herd set-environment graphical-session PATH=$PATH:$XDG_STATE_HOME/nix/profile/bin XDG_CURRENT_DESKTOP=$XDG_CURRENT_DESKTOP XDG_SESSION_TYPE=$XDG_SESSION_TYPE NIRI_SOCKET=$NIRI_SOCKET"
spawn-sh-at-startup "wl-paste --watch cliphist store &"
spawn-sh-at-startup "fish -c 'dex -a'"

// 虽然这个看起来很奇怪，但是跑这么一下hermes desktop才可以正常使用
spawn-sh-at-startup "fish -c 'hermes --version'"

prefer-no-csd

blur {
  passes 4
  offset 6
  noise 0
  saturation 1
}

cursor {
  xcursor-theme "Bibata-Modern-Classic"
  xcursor-size 24
}

gestures {
  hot-corners {
    off
  }
}

hotkey-overlay {
  skip-at-startup
  hide-not-bound
}

xwayland-satellite {
  // off
  path "/run/current-system/profile/bin/xwayland-satellite"
}

input {
  keyboard {
    xkb {
    }
  }
  touchpad {
    tap
    natural-scroll
  }

  mouse {
    accel-speed 0.6
    accel-profile "flat"
  }
}


layout {
  gaps 12

  always-center-single-column
  background-color "transparent"
  center-focused-column "on-overflow"

  preset-column-widths {
    proportion 0.4999
    proportion 0.7
    proportion 1.0
  }

  default-column-width {
    proportion 0.7;
  }

  focus-ring {
    off
  }
}

output "eDP-1" {
  variable-refresh-rate
}

screenshot-path "~/Pictures/Screenshots/%Y-%m-%d_%H-%M-%S.png"

layer-rule {
  match namespace="^notifications$"
  block-out-from "screencast"
}

switch-events {
  lid-close { spawn "niri" "msg" "action" "power-off-monitors"; }
  lid-open  { spawn "niri" "msg" "action" "power-on-monitors"; }
}
