# SPDX-FileCopyrightText: 2026 BrokenShine <xchai404@gmail.com>
#
# SPDX-License-Identifier: MIT

[submodule "dotfiles/enable/utilities/.local/share/fcitx5/rime"]
	path = dotfiles/enable/utilities/.local/share/fcitx5/rime
	url = https://github.com/iDvel/rime-ice.git
[submodule "stow/emacs/.config/emacs"]
	path = stow/emacs/.config/emacs
	url = https://codeberg.org/BrokenShine/.emacs.d.git
[submodule "stow/appimage-run"]
	path = stow/appimage-run
	url = https://codeberg.org/BrokenShine/appimage-run-guix.git
