# SPDX-FileCopyrightText: 2026 BrokenShine <xchai404@gmail.com>
#
# SPDX-License-Identifier: MIT

[Desktop Entry]
Type=Application
Name=kdeconnect-indicator
Exec=kdeconnect-indicator
