# SPDX-FileCopyrightText: 2026 BrokenShine <xchai404@gmail.com>
#
# SPDX-License-Identifier: MIT

[Desktop Entry]
Type=Application
Name=OpenTabletDriver
Exec=flatpak run net.opentabletdriver.OpenTabletDriver -d
