[Desktop Entry]
Type=Application
Name=Hermes
GenericName=Hermes Desktop
Comment=Launch Hermes Desktop
Terminal=false
StartupNotify=true
Exec=hermes desktop
Icon=hermes
StartupWMClass=Hermes
Categories=Utility;TextEditor;Development;IDE;
Keywords=hermes;
MimeType=x-scheme-handler/hermes;
